.App {
    max-width: 400px;
    max-height: 800px;
    min-width: 400px;
    min-height: 400px;
    background-color: #D6D7DA;
    font-family: Arial;
}

.content {
    margin-left: 10px;
    margin-right: 10px;
}

.form-checkbox {
    position: relative;
    top: 20px;
}

.form-checkbox label {
    display: flex;
    float: left;
}

.form-checkbox input {
    margin-right: 15px;
    float: right;
    
}

.form-button {
    float: right;
}

.form-input {
    position: relative;
    top: 20px;
    padding-bottom: 20px;
}

.form-button {
    position: relative;
    top: 60px;
}
