.App {
    max-width: 400px;
    max-height: 800px;
    min-width: 400px;
    min-height: 400px;
    background-color: #EEEEEE;
    font-family: Calibri;
}

.content {
    margin-left: 10px;
    margin-right: 10px;
}

.form-checkbox {
    position: relative;
    top: 35px;
}

.form-checkbox input {
    margin-right: 10px;
    float: right;
    
}

.form-button {
    float: right;
}

.form-input {
    position: relative;
    top: 30px;
    padding-bottom: 20px;
}

.form-button {
    position: relative;
    top: 80px;
}

.back-button {
    float: left;
}

.button-section {
    padding-top:5%;
}
